// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper-form, .wrapper-list {
  display:flex;
  flex-flow: row wrap;

  .page-header {
    border-bottom: none !important;
    flex: 1 100%;
    font-size: 3.7em;
    font-family: oswald;
    margin-left: -5%;
  }
  .add-post-symbol {
    flex: 1 100%;
  }
  .btn-primary {
    color: #FFF;
    background-color: #E74C3C;
    border-color: #E74C3C;
   }
   .new {
     margin-bottom: 10px;
     margin-top: 10px;
   }
   .home {
     margin-top: 1.6em;
   }
}

.wrapper-list {
  padding-left: 0px;
}

.wrapper-form {
  justify-content: center;
  text-align: center;
  .page-header {
    margin-bottom: 40px;
  }
}

.container {
  width: 80%;
}

.posts {
  display: flex;
  font-size: 1em;
  .post-separation {
    width: 95%;
    border-bottom: 1px solid rgba(249,0,0,.2);
  }
  ol {
    width: 100%;
    padding-left: 0px;
    li {
      margin-top: 15px;
    }
    .votes {
      float:left;
      height: 4em;
      margin-right: 5px;
    }
    .post-content {
      .post-title {
        font-size: 1.4em;
      }
      .edit-link {
        margin-right: 5px;
      }
      .username {
        font-style: italic;
      }
    }
  }
}

.field_with_errors {
  float:left;

}

.new_post, .edit_post {
    width: 65%;
    .select {
      text-align: center;
      width: 50%;
      margin: auto;
    }
  }


.select {
  color: rgb(164,154,153)
}

@media (max-width: 900px) {
  .posts {
    .post-separation {
    }
    ol {
      .votes {
        height: 5.5em !important;
      }
    }
  }
}

@media all and (max-width: 500px) {

  .container {
    width: 100%;
    .post-url {
      display:none;
    }
  }
  .add-post-symbol {
    margin-left: 10px  ;
  }

  .page-header {
    margin-left: 10px !important;
  }

  .new_post, .edit_post {
      .select {
        text-align: center;
        width: 100%;
        margin: auto;
      }
    }

  ol {
    padding-left: 15px !important;
  }

}
